.navbar{
   position: fixed;
   margin-left: -12px;
   margin-right: -12px;
   left: 0;
   top: 0;
   overflow: hidden;
   font-family: 'Quantico';
}
.navbar-nav{
   text-indent: 50px;
   text-transform: uppercase ;
}
   
  
.img3{width: 50px; height: 40px; margin-top: 10px;}

body{overflow-x: hidden ; animation-name: fade-in ;animation-duration:5s; }
@keyframes fade-in{from{opacity: 0%;}to{opacity: 100%}}

.nav-link:hover{
   
   background-color:darkgrey;
  
}
.parallax{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),url("assets/main background.jpg");
    height:450px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.containerfluid1,.text-center{text-transform: uppercase; text-indent: 5px; text-align: center; font-family: 'Quantico';}
.bg1{text-transform: capitalize; text-align: center; background-color: #2C2B2B; color: blanchedalmond;}
.img-circle{
   width:150px;
   border-radius: 30%;

}
.btn{width: 110px;height: 50px; background-color: aliceblue; color: white; text-transform: uppercase; font-family: 'Quantico'; margin-bottom: 5px;} 
.dropbtn {
   background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
   text-align: center;
  
 }
 .para,.skills,.text-center3{transition-duration: 3s; transition: fade-in;}
 @keyframes fade-in{from{opacity: 0%; } to {opacity: 100%;}}
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #2C2B2B;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   font-family: 'Quantico';
 }
 
 .dropdown-content a:hover {background-color:black}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
 .dropdown:hover .dropbtn {
   background-color: #54aedf;
 }
 .container-fluid4{margin-top: 200px;}
.text-center1{text-transform: uppercase; text-align: center; color: black; font-family: 'Quantico';}
.text-center2{ text-align: center; text-transform: capitalize; color:black; font-family: 'Quantico'; font-size: 10dp; background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("assets/about me 1.jpg"); height:200px; }
.text-center3{text-align: center; text-transform: uppercase; color: black; font-family: 'Quantico'; margin-top: 70px;}
.text-center4{text-align: center; text-transform: uppercase;color:black; font-family: 'Quantico'; margin-top: 20px;}
.text-center5{text-align: center;text-transform: uppercase; color: black; font-family: 'Quantico'; background: white;}
.text-center6{text-align: center;text-transform: uppercase; color: white; font-family: 'Quantico'; margin-top:90px; }
.text-center7{color: azure;text-transform: uppercase; font-family: 'Quantico';}
.html,.css,.javascript,.php,.angular,.corejava{
  animation-name: slide-in;
  animation-duration: 2s;
}
@keyframes slide-in{
  from{ left: 100%;}
  to{left:  0%;}
}
.skills:hover{
  transform: rotate3d(20deg);
}
* {box-sizing:border-box}

.para{margin-left: 74px;}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: rgb(255, 253, 253); /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #0f0f0f;}
.html:hover{background-color: rgb(255, 111, 0);} /* Green */
.css {width: 80%; background-color: #151618;} 
.css:hover{background-color: rgb(97, 175, 226);}/* Blue */
.js {width: 65%; background-color: #302c2c;} 
.js:hover{background-color: yellow;}/* Red */
.php {width: 60%; background-color: #161616;} /* Dark Grey */
.php:hover{background-color: rgb(29, 49, 99);}
.angular{width: 50%;background-color:#151618;}
.angular:hover{background-color: #941d29;}
.corejava{width: 60%; background-color: #151618;}
.corejava:hover{background-color:rgb(58, 1, 17);}


.img{filter: saturate(0); width: 50px; align-items: center;}
.img:hover{filter: saturate(0.8);}

.container1 {
  margin-top: 50px;
  position : relative;
  width : 1100px;
  display : flex;
  align-items : center;
  justify-content : center;
  flex-warp : warp;
  padding : 30px;  
}
.row{background: #2C2B2B;}
.container1 .card {
  position: relative;
  max-width : 300px;
  height : 215px;  
  background-color :#151618;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container1 .card:hover {
  height : 270px;    
}


.container1 .card .image {
  position : relative;
  width : 160px;
  height : 160px;
  
  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container1 .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container1 .card .content {
  position : relative;
  top : -120px;
  padding : 10px 15px;
  color :white;
  text-align : center;
  font-family: 'Quantico';
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container1 .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}
.pannel-header{ background-color:black; color: blanchedalmond;  margin-left: 12px;}
.panel-body{
  color:black;
  background-color: beige;
  font-family: 'Quantico';
  text-transform: uppercase;
  ;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  
  background-image: url("assets/about me.jpg");
  filter: saturate(0);
}
.center:hover{filter: saturate(1);}
.btn{height: 70px;} 
.img2{width: 100px; height: 90px; margin-left: 40px;filter: saturate(0);}
.img2:hover{filter: saturate(1);}
h5{margin-left: 50px; color:black; font-family: 'Quantico'; text-transform: uppercase;}
.center1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: cadetblue;
  background: rgb(36, 182, 250);
  filter: saturate(1);}
  footer{background: #302c2c; color: azure; animation-name:fade-in; animation-duration: 3s;}
  @keyframes fade-in{from{opacity: 0%;} to{opacity: 100%;}}